/* Centering main content */
.container-banner {
    width: 80%; /* Centers within available space */
    max-width: 1200px; /* Adjusts max width */
    margin: auto;
}

.cancel-button {
    width: 80px; 
    height: 30px; 
    padding: 0;
    margin: 0;
    background-color:#79747E;
    border: none;
}

.table-height {
    max-width: 100%;
    margin: auto;
    padding: 10px;
}

.table-container {
    margin-left: 150px; /* Adjust main content to the right of the sidebar */
    padding-top: 60px; /* Ensure content doesn't overlap with the header */
}

.table-header {
    position: sticky;
    top: 0;
    background-color: #CB4900;
    color: white;
    z-index: 3; /* Ensure it's above the table */
}

.table-content {
    position: sticky;
}

.thead-bg {
    position: sticky; 
    top: 0; 
    background-color:#CB4900; 
    z-index: 1;
}

.checkbox-cell {
    padding: 10px 0; /* Adds vertical padding to create space around the checkbox */
    text-align: center; /* Centers the checkbox horizontally */
    justify-content: center;
    align-items: center;
}

/* Optional: Adjust the checkbox size and margin if needed */
.form-check-input {
    margin: auto; /* Optional, helps to center vertically if you adjust the height */
    justify-content: center;
    align-items: center;
    display: flex;
}

tr {
    min-height: 60px; /* Adjust this value to your preferred row height */
}

.form-check {
    margin: 0; /* Removes any default margin */
    display: flex;
    justify-content: center;
    align-items: center;
}



.text-white {
    color: white;
}

.item-image {
    font-size: 120px;
    align-items: center;
}

/* Layout for adding */
.input-group {
    padding: 11px;
    width: 300px;
    margin-right: 10px;
}

.filter {
    margin-right: 10px; 
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    line-height: 1;
}


.descritption-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.description-item{
    display: flex;
    align-items: center;
}

.description-label {
    font-weight: bold;
    margin-right: 0.5rem;
    white-space: nowrap;
}

.description-value {
    color: #555;
    
}
/* Bookmark css */
.bookmark i {
    font-size: 1.5rem;
    transition: color 0.2 ease;
}

.bookmark:hover {
    color: #007bff;
}
