/* Centering main content */
.container-banner {
    width: 80%; /* Centers within available space */
    max-width: 1200px; /* Adjusts max width */
    margin: auto;
}

.col {
    margin-top: 15px;
}

.image-height {
    min-height: 150px;
    width: 150px; 
}

.cancel-button {
    width: 80px; 
    height: 30px; 
    padding: 0;
    margin: 0;
    background-color:#79747E;
    border: none;
}

.table-height {
    max-width: 100%;
    /* max-height: 500px; */
    margin: auto;
}

.checkbox-cell {
    padding: 10px 0; /* Adds vertical padding to create space around the checkbox */
    text-align: center; /* Centers the checkbox horizontally */
    justify-content: center;
    align-items: center;
}

/* Optional: Adjust the checkbox size and margin if needed */
.form-check-input {
    margin: auto; /* Optional, helps to center vertically if you adjust the height */
    justify-content: center;
    align-items: center;
    display: flex;
}

tr {
    min-height: 50px; 
}

.form-check {
    margin: 0; /* Removes any default margin */
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-white {
    color: white;
}

.table img, .bi-image{
    width: 100px;   /* Set a fixed width */
    height: 100px;  /* Set a fixed height */
    object-fit: cover;  /* Ensures the image covers the box without distortion */
}


/* Layout for adding */
.input-group {
    padding: 11px;
    width: 300px;
    margin-right: 10px;
}

.filter {
    margin-right: 10px; 
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    line-height: 1;
}


.descritption-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.description-item{
    display: flex;
    align-items: center;
}

.description-label {
    font-weight: bold;
    margin-right: 0.5rem;
    white-space: nowrap;
}

.description-value {
    color: #555;
    
}
/* Bookmark css */
.bookmark {
    font-size: 1.4rem;
    transition: color 0.2 ease;
}

.bookmark:hover {
    color: #007bff;
}

.click {
    cursor: 'pointer';
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.page-number, .page-arrow {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f8f9fa;
}

.page-number.active {
    background-color: #CB4900;
    color: #fff;
    border-color: #CB4900;
}


