
.login-section {
    display:flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh;  */
    min-height: 100vh;
}
.login-box {
    max-width: 400px;
    padding: 2rem;
    text-align: left;
}
.login-button {
    width: 350px;
    height: 35px;
    text-align: left;
}
.welcome-image {
    background-image: url('../../static/login_pics/login_screen.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    flex-wrap: nowrap;
}
